/node_modules
/public/hot
/public/storage
/public/store
/storage/*.key
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploads.old
/public/uploads
/public/insta_token.js
.env
/composer.lock
/storage_bk
.env
