.select{
	clear: both;
	border:1px solid #DDD;
	padding:8px 10px;
	margin: 0px 0 20px 0;
	position:relative;
	background:#FFF;
	.select2-container{
		width: 100%;
		border:none;
		box-shadow:none;
		padding: 0;
		height: auto;
		&.select2-dropdown-open{
			.select2-choice .select2-arrow b{
				background-position: -105px -60px;
			}
		}
		.select2-choice{
			background: none;
			box-shadow:none;
			padding:0;
			color: rgba(102,102,102,0.5);
			border:none;
		}
		.select2-choice .select2-arrow{
			background: none;
			box-shadow:none;
			border:none;
			b{
			    background-position: -105px 1px;	
			    display: inline-block;
			}
		}
	}
	select{
		border:none;
	}
}