// custom variables

$default-theme-color: #666666;
$secondry-theme-coloe: #005286;
$white: #fff;
$black: #000;
$blue: #337ab7;
$green: #a6ce38;

$default-font-size: 14px;

$bordercolor: #dddddd;

$left: left;
$center: center;
$right: right;

$fontXS: 11px;
$fontSmall: 12px;
$fontMedium: 14px;
$fontLarge: 16px;
$fontExtraLarge: 18px;

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

$iconBg: url(../images/icons-sprite.png) no-repeat;

/* variable for font-family */

$roboto: 'Roboto Condensed', sans-serif;
/* $opensans: 'Open Sans', sans-serif; */
